.red{
    width: 100px;
    height: 50px;
    background-color: red;
}

.blue{
    width: 100px;
    height: 50px;
    background-color: blue;
}

.green{
    width: 100px;
    height: 50px;
    background-color: green;
}


.parent{
   display: flex;
justify-content: flex-end;
flex-direction: row-reverse;
}